head {
	background-color: #532197;
	text-align:left;
	color: black;
}
body {
	color:black;
	text-align: center;
	background-color: #532197;
	
}

		
h1 {
	text-align: center;
	color: white;
	box-sizing: border-box;
	background-color: #cfb209;
	font-family: Calibri;
	
}
hInfo {
color:white;	

}
h2 {
text-align: center;
font-style:Arial;	
font-family: Calibri;
color:white;
}
p1 {
	
	color: white;
	background-color: white;
}


<!--font-->
.myfont {
	font-family:Calibri;
	font-size:25px;
}



<!-- table stuff -->

table, th, td {
  border: 1px solid black;
}

table {
	color:white;
border-collapse: collapse;	
}

<!-- hyperlink hover color stuff-->

a:link {
color: yellow;	
}

a:visited {
color:gray;	
}

a:hover {
color:white;
}

a:active {
color:yellow;
}
