* {
	margin: 5px;
	padding: 8px;
	box-sizing: border-box;
}

body {
	background: #808080;
	box-sizing: border-box;
}

.AboutYou {
	text-align: center;
	background: #800080;
	border: 3px solid black;
}
 
 th, td {
  padding: 5px;
  text-align: center;
	font-family:Calibri;
	font-size:18px;
}

table, th, td {
  border: 5px solid yellow;
  text-align: center;
  margin: auto;
  height: auto;
  max-width: 500px;
  border-collapse: collapse;
}

caption {
	text-align: center;
	margin: auto;
	background: #800080;
	border: 5px solid yellow;
	height: auto;
 	max-width: 500px;
 	position: relative;
 	right: 0px;
 	font-family: "Times New Roman", Times, serif;
 	font-size: 25px;
 }
 h1
 {
	 text-align: center;
 background-color: #cfb209;
 box-sizing: border-box;
 border: 3px solid white;
 color: white;
 }

.Fireboy {
	display: block;
  	margin-left: 0;
  	margin-right: auto;
