* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #9054e6;
    color: #000;
    border-bottom: 0.5px solid grey;
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar a {
    text-decoration: none;
    color: yellow;
}

.navbar a.logo {
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a{
    display: block;
    text-align: center;
    min-width: auto;
    padding: 0 30px;
}

.navbar ul li a:hover{
    background-color: #aa78f1;
}

body{
    background-color: #201754;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eba5ed4e-419f-459b-929c-058e7edd3228/dbyitzh-777bf595-781b-4d24-baf8-1a988ba9a01f.png/v1/fill/w_1192,h_670,q_70,strp/purple_city_line_background_by_hellospike_dbyitzh-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDgwIiwicGF0aCI6IlwvZlwvZWJhNWVkNGUtNDE5Zi00NTliLTkyOWMtMDU4ZTdlZGQzMjI4XC9kYnlpdHpoLTc3N2JmNTk1LTc4MWItNGQyNC1iYWY4LTFhOTg4YmE5YTAxZi5wbmciLCJ3aWR0aCI6Ijw9MTkyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Uzq51s_bqKT-hHvzo1i0XtzQave_WnpIeB3cAfOz340");
}

main {
    width: 50%;
    position: relative;
    top: 50px;
    left: 50px;
}

script {
    width: 100%;
    position: bottom;
    top: 100px;
    left: 100px;
}
 canvas{
     position: relative;
     top: 150px;
     left: 400px;
     width: 50%;
 }

 .login {
    position: relative;
    top: 350px;
    left: 400px;
    width: 50%;
 }
 .profile h2 {
     font-weight: Bold;
     font-style: italic;
     font-size: 75px;
     text-align: center;
     position: relative;
    top: 250px;
    left: 400px;
    width: 50%;
    color: pink
 }

 .profile h3{
    font-weight: Bold;
    font-style: italic;
    font-size: 75px;
    text-align: center;
    position: relative;
    top: 300px;
    left: 400px;
    width: 50%;
    color: pink
 }

 .duckdumper{
     position: center;
     text-align: center;
     top: 500px;
 }

.hInfo {
    text-align:center;
    position:center;
    font-size: 36;
    color: yellow;
}


 #bg_image
 {
    background-image: url("bg.jpg");

 }

.contentProfile{
    position: relative;
     top: 150px;
     left: 400px;
     width: 50%;
}

.standings{
    position: relative;
     top: 150px;
     left: 400px;
     width: 50%;
}