<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale-1.0">
		<title> Home Page </title>
		<link rel="stylesheet" type="text/css" href="static/cssfiles/style3.css">
	  </head>
      <br>
      <body>
  <nav class = "navbar">
    <a href = "static/ProfilePage.html" class = "logo"> Jumping Jaybird </a>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="static/aboutus.html">About Us</a></li>
    <li><a href="static/game.html">Game</a></li>
    <li><a href="/standings.html">Standings</a></li>
    <li><a href="/standings">Standings</a></li>
	<li><a href="/profile">Profile</a></li>
    <li><a href="/forum">Forum</a></li>
    </ul>
  </nav>
<style>
h1 {
	text-align: center;
	background-color: #cfb209;
	box-sizing: border-box;
    border: 3px solid white;
	color: white;	
}
h2 {
	color:white;
	text-align: center;
	font-style:Arial;	
	font-family: Calibri;
	font-size: 30;
}
body {
	color:black;
	text-align: center;
	border-style: groove;
	border-radius: 25px;
}
p {	
	color: white;
	font-style:Arial;
	font-family:Calibri;
	font-size:25px;
	margin-left: 500px;
	margin-right: 500px;
}

</style>
<div class="login">
	{{#if user}}
	<form action="/logout" method="POST">
	<div class= "logoutbtn">
    	<button type="submit">logout</button>
		</div>
	</form>
	{{else}}
	<div class="loginbtns">
		<a href="/register">register</a> <a href="/login">login</a>
		</div>
	{{/if}}
	</ul>
	<center>

	{{#if user}}
	<h1>Post to the forum below</h1>
	<ul>
    	{{#each messages}}
    	<li>{{this.authorName}}: {{this.content}}</li>
    	{{/each}}
	</ul>
	<form action="/message" method="POST">
    	<input type="text" placeholder="message" name="message" />
    	<button type="submit">send</button>
	</form>

	<form action="/logout" method="POST">
    	<button type="submit">logout</button>
	</form>
	{{else}}
		<h1>Login to see forum</h1>
	{{/if}}
	</center>
</div>
</body>
</html>
