<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale-1.0">
		<title> Home Page </title>
		<link rel="stylesheet" type="text/css" href="static/cssfiles/style3.css">
	  </head>
      <br>
      <body>
    
    
  <nav class = "navbar">
    <a href = "static/ProfilePage.html" class = "logo"> Jumping Jaybird </a>
    <ul>
    <li><a href="static/aboutus.html">About Us</a></li>
    <li><a href="/game">Game</a></li>
    <li><a href="/standings">Standings</a></li>
	<li><a href="/profile">Profile</a></li>
    <li><a href="/forum">Forum</a></li>
    </ul>
  </nav>

    

        </ul>
		
		<div class = "hInfo">
		<hInfo>
		<br>
		
		<!-- help-->
		<br><i style="color: #eceddd">A flappy, daring and dubious experience!</i></br><br><br><br>
		<div class = "duckdumper">
		
		<img src="static/photos/CAPTURE.PNG" alt="Galaxy" width="500">
		<br><br>
		{{#if user}}
			<form action="/logout" method="POST">
    		<button type="submit">Logout</button>
			</form>
		{{else}}
			<a href="/register">Register</a> <a href="/login">Login</a>
		{{/if}}
		</a>
		</div></hInfo>
		<br></br>
		<br></br>

		</div>

	</head>

	<body >
		
</body>	
</html>

