<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale-1.0">
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="static/cssfiles/style3.css">
	  </head>
      <br>
      <body>
  <nav class = "navbar">
    <a href = "static/ProfilePage.html" class = "logo"> JUMPING JAYBIRD  </a> <!-- the navbar and the easter egg included into it-->
    <ul>
    <li><a href="/">Home</a></li> <!-- the link to the Home -->
    <li><a href="static/aboutus.html">About Us</a></li> <!-- the link to the about us page -->
    <li><a href="/game">Game</a></li> <!-- the link to the game page -->
    <li><a href="/standings">Standings</a></li> <!-- the link to the standings page  -->
    <li><a href="/forum">Forum</a></li> <!-- the link to the forum page-->
    </ul>
  </nav>
{{#if error}} 
<div style="background: maroon; color: white;">
    {{error}}
</div>
{{/if}}
<div class="registration"> <!-- div class for styling purposes -->
<h1>Login</h1> 
<div class="textarea"> <!-- div class for styling purposes -->
<form action="/login" method="POST"> <!-- the reference to get the request and render from index.js -->
    <input type="email" placeholder="email" name="email" /> <!-- the reference to get the info and text field data from index.js -->
    <input type="password" placeholder="password" name="password" /> 
    <button type="submit">login</button>
    <ul></ul>
    <a>If you don't have an account please register</a>
    <ul></ul>
    <a href="/register">register</a> <!-- link to register -->
</form>
</div>
</div>
</body>