<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale-1.0">
		<title>Profile</title>
		<link rel="stylesheet" type="text/css" href="static/cssfiles/style3.css">
	  </head>
      <br>
      <body>
  <nav class = "navbar">
    <a href = "static/ProfilePage.html" class = "logo"> JUMPING JAYBIRD  </a>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="static/aboutus.html">About Us</a></li>
    <li><a href="static/game.html">Game</a></li>
    <li><a href="/standings">Standings</a></li>
    <li><a href="/forum">Forum</a></li>
    </ul>
  </nav>

<div class="contentProfile">
    <h1>Here is your profile</h1>

    {{#if user}}
	<form action="/logout" method="POST">
    	<button type="submit">logout</button>
	</form>
	{{else}}
		<a href="/register">register</a> <a href="/login">login</a>
	{{/if}}
</div>
    </ul>
</body>
</html>
