<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale-1.0">
		<title>Standings</title>
		<link rel="stylesheet" type="text/css" href="static/cssfiles/style3.css">
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
</style>
	  </head>
      <br>
      <body>
       
  <nav class = "navbar">
    <a href = "static/ProfilePage.html" class = "logo"> JUMPING JAYBIRD  </a>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="static/aboutus.html">About Us</a></li>
    <li><a href="static/game.html">Game</a></li>
    <li><a href="/standings">Standings</a></li>
	  <li><a href="/profile">Profile</a></li>
    <li><a href="/forum">Forum</a></li>
    </ul>
  </nav>
<div class = "standings">
  <h1>Here are the standings</h1>

    {{#if user}}
	<form action="/logout" method="POST">
    	<button type="submit">logout</button>
	</form>
	{{else}}
		<a href="/register">register</a> <a href="/login">login</a>
	{{/if}}

  <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
</table>
</div>
    </ul>
</body>
</html>
