<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale-1.0">
		<title>Standings</title>
		<link rel="stylesheet" type="text/css" href="static/cssfiles/style3.css">
    <style>
        h2{
			color:#eceddd;
			text-align: center;
			font-style:Arial;	
			font-family: Calibri;
			font-size: 30;
		}
</style>
	  </head>
      <br>
      <body>
       
  <nav class = "navbar">
    <a href = "static/ProfilePage.html" class = "logo"> JUMPING JAYBIRD  </a>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="static/aboutus.html">About Us</a></li>
    <li><a href="/game">Game</a></li>
	  <li><a href="/profile">Profile</a></li>
    <li><a href="/forum">Forum</a></li>
    </ul>
  </nav>
<div class = "standings">

	{{#if user}}
	
	</form>
	{{else}}
	<div class="loginbtns">
		<a href="/register">Register</a> <a href="/login">Login</a>
		</div>
	{{/if}}
	</ul>
<h2>Standings</h2>
	{{#if user}}
  <table style="width:100%">
    <tr>
      <th>User</th>
      <th>Score</th> 
    </tr>
    {{#each scores}}
        <tr>
            <td>{{this.playerName}}</td>
            <td>{{this.score}}</td>
        </tr>
    {{/each}}
  </table>
  <br>
	<form action="/logout" method="POST" style="text-align: center;">
    	<button type="submit">Logout</button>
	</form>
	{{else}}
		<h1>Login to see the standings</h1>
	{{/if}}
</table>
</div>
    </ul>
</body>
</html>
